body {
    font-size: 24px;
}
p.red {
    color: red;
}
p.red {
    color: red;
}
p.bold {
    font-weight: bold;
}

p.bold {
    font-weight: bold;
}
Ul li.blue {
    color: blue;
}
Ol li.pink {
    color: pink;
}
Ol li.red {
    color: red;
}
ul li.green {
    color: green;
}
span.xxsmall {
    font-size: 10px;
}
span.xsmall {
    font-size: 20px;
}
span.small {
    font-size: 30px;
}
span.xxlarge {
    font-size: 70px;
}
span.medium {
    font-size: 40px;
}
span.large {
    font-size: 50px;
}
span.xlarge {
    font-size: 60px;
}

